body {
  background-color: white;
}

/* home page  */

.avatar {
  width: 300px;
  height: 300px;
  margin-top: 50px;
}

.home-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home-page-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: darkslategrey;
  margin-top: 200px;
}

/* navigation  */

.nav-bar {
  background-color: #BDC3C7;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.link {
  text-decoration: none;
  color: white;
  padding: 7px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

/* contact page */

.contact-title {
  text-align: center;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  color: darkslategrey;
}

.contact-form {
  margin: 5px 300px 0px;
}

.form-label {
  font-family: 'Montserrat', sans-serif;
  color: darkslategrey
}

.d-inline-success-msg {
  font-family: 'Montserrat', sans-serif;
  color: darkslategrey;
}

.d-inline-err-msg {
  font-family: 'Montserrat', sans-serif;
  color: darkslategrey;
}

.btn-primary {
  color: #fff;
  background-color: darkslategrey;
  border-color: darkslategrey;
}

/* projects page  */

.project-card-container {
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.projects-title {
  text-align: center;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  color: darkslategrey;
}

.project-card {
  margin: 0px 10px 0px;
  font-family: 'Montserrat', sans-serif;
  color: darkslategrey;
  box-shadow: 1px 1px 1px #888888;
}

.project-photo {
  height: 170px;
}

.github-icon {
  height: 30px;
  width: 30px;
}

/* about page */

.about-title {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  color: darkslategrey;
}

.about-photo {
  border-radius: 50%;
  margin: 20px;
}

.about-container {
  display: flex;
  flex-direction: row;
}

.about-paragraph {
  padding-top: 60px;
  font-family: 'Montserrat', sans-serif;
  color: darkslategrey;
  font-size: 18px;
}

/* resume */

.resume-container {
  display: flex;
}

.resume-title {
  text-align: center;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  color: darkslategrey;
}

.resume-image {
  width: 20%;
  height: auto;
  align-self: center;
}

/* footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #BDC3C7;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  font-weight: 800;
}