body {
  background-color: white;
}

.nav-bar {
  background-color: #BDC3C7;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.link {
  text-decoration: none;
  color: white;
  padding: 7px;
  font-family: 'Montserrat', sans-serif;;
}

.contact-title {
  text-align: center;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  color: grey
}

.contact-form {
  padding: 20px
}

.btn-primary {
  color: #fff;
  background-color: grey;
  border-color: grey;
}

.project-card-container {
  display: flex;
  flex-direction: row;
}

.projects-title {
  text-align: center;
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
  color: grey
}

.project-card {
  margin: 10px;
}

.about-title {
  text-align: center;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  color: grey
}

.about-photo {
  border-radius: 50%;
  margin: 20px;
}

.about-container {
  display: flex;
  flex-direction: row;
}

.about-paragraph {
  padding-top: 100px;
  font-family: 'Montserrat', sans-serif;
  color: darkslategrey
}